.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.textWrapper {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.welcomeText {
  font-size: 2rem;
}

.secondaryText {
  font-size: 1rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.9rem;
  gap: 3rem;
  padding-bottom: 2rem;
}
input {
  border: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.7);
  padding:1rem;
  font-size: 1.1rem;
  font-family: 'Montserrat';
  
}
input[type="password"]::placeholder, input[type="text"]::placeholder {
  color: #92929280;
}

input, input[type="text"]:placeholder-shown, input[type="password"]:placeholder-shown {
  padding-bottom: .5rem;
}

.loginButton {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: .5rem;
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat';
  transition: background-color .3s ease-in-out;
}

.loginButton:hover {
  background-color:#EDEDED;
  color: #000;
}

.loginButton:enabled:active {
  box-shadow: 2px 2px 5px #515151;
}

.loginButton:disabled {
  background-color:#515151;
  color: #a0a0a0;
}


