.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}